body {
  margin: 0;
  font-family: sans-serif;
  color: ghostwhite;
  background: #222222;
}

#addNode {
  position: fixed;
  top: 15px;
  left: 15px;
  padding: 10px 20px;
  font-size: 16px;
  z-index: 999;
  user-select: none;
}

#mapArea {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.node {
  display: flex;
  width: fit-content;
  position: absolute;
  background: #777777;
  cursor: grab;
  user-select: none;
}

.node:active {
  cursor: grabbing;
}

.node > .colorpicker {
  background-color: #e2e2e2;
  width: 8px;
}

.node > .text {
  padding: 8px;
  outline: none !important;
}

.node:has(.text:focus) {
  outline: 2px solid #fff;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

line {
  stroke: #888888;
  stroke-width: 2;
}
